@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h4>Edit Department</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)
  @Html.LabelFor(model => model.DepartmentName)
  @Html.TextBoxFor(model => model.DepartmentName, new { @required = "required"})
  @Html.LabelFor(model => model.DepartmentHead)
  @Html.TextBoxFor(model => model.DepartmentHead, new { @required = "required"})

  <input type="submit" value="Edit" class="btn btn-dark" />
}

<p>@Html.ActionLink("Show all Department", "Index")</p>