@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course
@using UniversityRegistrar.Models

<h2>@Html.DisplayFor(model => model.CourseName)</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseNumber)</h4>

@foreach (CourseStudent courseStudent in Model.Students)
{
  <p>@courseStudent.Student.Name | @courseStudent.Student.DateOfEnrollment</p>
}

<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add Student", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to List of Courses", "Index")</p>