@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course
@using UniversityRegistrar.Models

<h2>@Html.DisplayFor(model => model.CourseName)</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseNumber)</h4>

@if(@Model.Students.Count == 0)
{
  <p>This course does not contain any students</p>
}
else
{
  <ul>
  @foreach (CourseStudent courseStudent in Model.Students)
  {
    <li>@courseStudent.Student.Name | @courseStudent.Student.DateOfEnrollment</li>
    @using (Html.BeginForm("DeleteStudent", "Courses"))
    {
      @Html.Hidden("CourseStudentId", @courseStudent.CourseStudentId)
      <input type="submit" value="Remove"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add Student", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to List of Courses", "Index")</p>