@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Edit the Course</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.CourseName)
  @Html.EditorFor(model => model.CourseName, new { @required = "required"})
  @Html.LabelFor(model => model.CourseNumber)
  @Html.EditorFor(model => model.CourseNumber, new { @required = "required"})

  @Html.Label("Select Department")
  @Html.DropDownList("DepartmentId")
  <input type="submit" value="Edit Course" class="btn btn-dark" />
}

<p>@Html.ActionLink("Show all Courses", "Index")</p>